.DS_Store
*.pyc
build/
dist/

# cds garbage
examples/*/*.pdf
examples/*/*.png
examples/*/*.jpg
examples/*/*.gif
examples/*/*.mov
Resources/English.lproj/NodeBox\ Help/
todo.txt

# Xcode user files
project.xcworkspace
xcuserdata