.DS_Store
*.pyc
build/
dist/
app/deps/vendor/Sparkle*
app/deps/vendor/*.tar.gz
app/deps/embed/Python.framework
app/deps/embed/relocatable-python
app/deps/local

# cds garbage
related/
todo.txt
test.py
speedtrials.py

# Xcode user files
project.xcworkspace
xcuserdata

# unit tests
tests/_out
tests/_diff
details.html