.DS_Store
*.pyc

# setuptools detritus
build/
dist/
plotdevice.egg-info
app/Resources/viewer.nib
Manifest.in

# local development
deps/local
/*.so

# external dependencies
deps/frameworks/*.framework
deps/frameworks/relocatable-python
deps/extensions/svg/SwiftDraw*

# cds garbage
related/
todo.txt
test.py
speedtrials.py
/out.*

# Xcode user files
project.xcworkspace
xcuserdata

# unit tests
tests/_out
tests/_diff
details.html